.tablestyle{
    width:75%;
    height:25px;
    margin-left: 10px;
    

}
.inputfield{
    width:75%;
}

.btn {
    border: none;
    padding: 14px 28px; 
    cursor: pointer; 
    float: right;
  }
  
  .submit{background-color: rgb(3, 29, 3); 
    color: white; 
  } 
  .submit:hover {background-color: #08580a;}
