.main-login {
  width:fit-content;
  margin-bottom: -5%;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%,#b7d6ce ), color-stop(50%, #4dd6b6));
  background: linear-gradient(to right, #b7d6ce 50%, #b7d6ce 50%);
}

.black{
  color:black;
}

.btn {
  
  border: none;
  padding: 15px 25px; 
  cursor: pointer; 
  float: right;
}

.edit{
  
  margin-left: 600px;
  background-color: rgb(3, 29, 3); 
  color: white; 
} 
.edit:hover {background-color: #08580a;}






