.main-login {
    height: 98%;
    width: 82vw;
    margin-bottom: -5%;
    overflow: hidden;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%,#b7d6ce ), color-stop(50%, #4dd6b6));
    background: linear-gradient(to right, #b7d6ce 50%, #b7d6ce 50%);
  }
  
  .black{
    color:black;
  }
  .Topbar{
    margin-left: 16.6%;
    margin-right: 0.4%;
    
}

.sidebar{
    margin-top: -4.9%;
}


.flex{
    display: flex;
}

.body{
overflow: hidden;
}

.btn1 {
    border: none;
    padding: 10px 20px; 
    cursor: pointer; 
    
  }
  
.cap{background-color: rgb(3, 29, 3); 
    color: white;
    margin-top: -9px;
    margin-left: 700px;
   
  } 
.cap:hover {background-color: #062b07;}
  
  
  
  
  
  
  
  