.main-login {
    height: 99.5%;
    width: 82vw;
    overflow-x: hidden;
    padding-top: 10px;
    
    background: -webkit-gradient(linear, left top, right top, color-stop(50%,#b7d6ce ), color-stop(50%, #4dd6b6));
    background: linear-gradient(to right, #b7d6ce 50%, #b7d6ce 50%);
  }
  
  .black{
    color:black;
  }
 
.form-control:hover{
  border-color: black;
}
  .btn {
    border: none;
    padding: 10px 28px; 
    cursor: pointer; 
    
  }
  
.send{background-color: rgb(3, 29, 3); 
    color: white;
    margin-top: 50px;
    margin-left: 900px;
   
  } 
.send:hover {background-color: #062b07;}
  
  
  
  
  
  
  