.input{
    border-radius: 0.5rem;
    display:inline-flex;
    margin-right: 100px;
    width: 200px;
    margin-left: 10px;
}

.table th.header {
  background-color: rgb(13, 37, 13);
  color: white;
}
.margin{
  margin-left: 10px;
}
.btn {
  border: none;
  padding: 5px 10px; 
  cursor: pointer;
  float:left
}

.submit{
  background-color: rgb(3, 29, 3); 
  color: white; 
} 
.submit:hover {
  background-color: #08580a;}
.send{
  background-color: rgb(3, 29, 3);
  color: white;
   
} 
.send:hover {
  background-color: #08580a;
}