.screen{
    background-image: linear-gradient(to right, white , #73BFB8);
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top:0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: o;
  }
  
  .right {
    right:0;
   
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .centered img {
    width: 150%;
    /* border-radius: 100%; */
    align-items: center;
    padding-right: 29px;
    padding-left: 0%;
    margin-right: 30px;
    
  }

  
 

  /* #01281a */
  /* #f6c23e */
